.sprite-img-crop {
    height: 100%;
}

.crop-img-0 {
    background: url('/src/assets/images/crop/crop-sprites.png') 0 0 no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-1 {
    background: url('/src/assets/images/crop/crop-sprites.png') 14% 0 no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-2 {
    background: url('/src/assets/images/crop/crop-sprites.png') 25% 0 no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-3 {
    background: url('/src/assets/images/crop/crop-sprites.png') 37.5% 0
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-4 {
    background: url('/src/assets/images/crop/crop-sprites.png') 50% 0 no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-5 {
    background: url('/src/assets/images/crop/crop-sprites.png') 62.5% 0
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-6 {
    background: url('/src/assets/images/crop/crop-sprites.png') 75% 0 no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-7 {
    background: url('/src/assets/images/crop/crop-sprites.png') 87.5% 0
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-8 {
    background: url('/src/assets/images/crop/crop-sprites.png') 0 12.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-9 {
    background: url('/src/assets/images/crop/crop-sprites.png') 12.5% 12.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-10 {
    background: url('/src/assets/images/crop/crop-sprites.png') 25% 12.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-11 {
    background: url('/src/assets/images/crop/crop-sprites.png') 37.5% 12.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-12 {
    background: url('/src/assets/images/crop/crop-sprites.png') 50% 12.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-13 {
    background: url('/src/assets/images/crop/crop-sprites.png') 62.5% 12.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-14 {
    background: url('/src/assets/images/crop/crop-sprites.png') 75% 12.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-15 {
    background: url('/src/assets/images/crop/crop-sprites.png') 87.5% 12.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-16 {
    background: url('/src/assets/images/crop/crop-sprites.png') 0% 25% no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-17 {
    background: url('/src/assets/images/crop/crop-sprites.png') 12.5% 25%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-18 {
    background: url('/src/assets/images/crop/crop-sprites.png') 25% 25%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-19 {
    background: url('/src/assets/images/crop/crop-sprites.png') 37.5% 25%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-20 {
    background: url('/src/assets/images/crop/crop-sprites.png') 50% 25%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-21 {
    background: url('/src/assets/images/crop/crop-sprites.png') 62.5% 25%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-22 {
    background: url('/src/assets/images/crop/crop-sprites.png') 75% 25%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-23 {
    background: url('/src/assets/images/crop/crop-sprites.png') 87.5% 25%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-24 {
    background: url('/src/assets/images/crop/crop-sprites.png') 0% 37.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-25 {
    background: url('/src/assets/images/crop/crop-sprites.png') 12.5% 37.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-26 {
    background: url('/src/assets/images/crop/crop-sprites.png') 25% 37.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-27 {
    background: url('/src/assets/images/crop/crop-sprites.png') 37.5% 37.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-28 {
    background: url('/src/assets/images/crop/crop-sprites.png') 50% 37.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-29 {
    background: url('/src/assets/images/crop/crop-sprites.png') 62.5% 37.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-30 {
    background: url('/src/assets/images/crop/crop-sprites.png') 75% 37.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-31 {
    background: url('/src/assets/images/crop/crop-sprites.png') 87.5% 37.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-32 {
    background: url('/src/assets/images/crop/crop-sprites.png') 0% 50% no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-33 {
    background: url('/src/assets/images/crop/crop-sprites.png') 12.5% 50%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-34 {
    background: url('/src/assets/images/crop/crop-sprites.png') 25% 50%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-35 {
    background: url('/src/assets/images/crop/crop-sprites.png') 37.5% 50%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-36 {
    background: url('/src/assets/images/crop/crop-sprites.png') 50% 50%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-37 {
    background: url('/src/assets/images/crop/crop-sprites.png') 62.5% 50%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-38 {
    background: url('/src/assets/images/crop/crop-sprites.png') 75% 50%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-39 {
    background: url('/src/assets/images/crop/crop-sprites.png') 87.5% 50%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-40 {
    background: url('/src/assets/images/crop/crop-sprites.png') 0 62.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-41 {
    background: url('/src/assets/images/crop/crop-sprites.png') 12.5% 62.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-42 {
    background: url('/src/assets/images/crop/crop-sprites.png') 25% 62.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-43 {
    background: url('/src/assets/images/crop/crop-sprites.png') 37.5% 62.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-44 {
    background: url('/src/assets/images/crop/crop-sprites.png') 50% 62.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-45 {
    background: url('/src/assets/images/crop/crop-sprites.png') 62.5% 62.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-46 {
    background: url('/src/assets/images/crop/crop-sprites.png') 75% 62.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-47 {
    background: url('/src/assets/images/crop/crop-sprites.png') 87.5% 62.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-49 {
    background: url('/src/assets/images/crop/crop-sprites.png') 0 75% no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-48 {
    background: url('/src/assets/images/crop/crop-sprites.png') 12.5% 75%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-50 {
    background: url('/src/assets/images/crop/crop-sprites.png') 25% 75%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-51 {
    background: url('/src/assets/images/crop/crop-sprites.png') 37.5% 75%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-52 {
    background: url('/src/assets/images/crop/crop-sprites.png') 50% 75%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-52 {
    background: url('/src/assets/images/crop/crop-sprites.png') 62.5% 75%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-54 {
    background: url('/src/assets/images/crop/crop-sprites.png') 75% 75%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-55 {
    background: url('/src/assets/images/crop/crop-sprites.png') 87.5% 75%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}

.crop-img-56 {
    background: url('/src/assets/images/crop/crop-sprites.png') 0 87.5%
        no-repeat;
    -webkit-background-size: 800% 800%;
    background-size: 800% 800%;
}
